*{
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background:#fdfce9;
}

.nav{
    display:flex;
    align-items: center;
    text-align: center; 
    justify-content: space-between;
    
    background: white;
    border: 2px solid black;
    margin:20px;
    padding: 20px;
}

.logo{
    font-size: 1.2rem;
    font-weight: 800;
}

.first-img, img{
    width: 150px;
    margin-top: 40px;
    padding: 10px;
}

.hero{
    margin: 20px;
}

.hero, h1{
    font-size:2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    margin: 20px;
}

span{
    background: #ffd93d;
}

.btn{
    margin: 20px;
    display:flex;
}

.port{
    padding: 15px 35px;
    border: 3px solid black;
    border-radius:50px;
    font-size: 1rem;
    margin-top: 15px;
    font-weight: 800;
    background: #aee2ff;
}

.pro{
    margin: 20px;
    margin-top: 10px;
}

.face{
    width: 320px;
    align-items: center;
}

.pink{
    width: 80px;
}

.flat{
    background: black;
    color:white;
    display: flex;
    padding: 10px;
    
    justify-content: center;
    margin-bottom: 10px;
}

.good{
    padding: 10px;
}

.info{
    margin: 40px 20px;
    font-size:1.5rem;
    font-weight: 500;
}

.icon{
    background: white;
    margin:20px;
    padding: 20px;
    border: 1px solid black;
}

.for-font{
    color:#ffd93d;
    font-size: 3rem;
    font-weight: 300rem;
}

.contact{
   align-items: center;
   margin: 30px 0;
   justify-content: center;
   display: flex;
   font-size:2.0rem;
   font-weight: 600;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    text-align: center;
}
.what{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #2fd366;
}

.trd{
    font-size: 7rem;
    margin-bottom: 8px;
    color: black;
}

.face{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #1877f2;
}

.insta{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #E4405F;
}

.link{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #0A66C2;
}

.twi{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #000000;
}

.snap{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #fffc00;
}

.tik{
    font-size: 7rem;
    margin-bottom: 8px;
    color:#000000;
}

.git{
    font-size: 7rem;
    margin-bottom: 8px;
    color:#181717;
}

.drib{
    font-size: 7rem;
    margin-bottom: 8px;
    color:#ea4c89;
}

.you{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #ff0000;
}

.dis{
    font-size: 7rem;
    margin-bottom: 8px;
    color: #5865f2;
}